/*[class*="col"], footer {
  font-family: Open Sans, sans-serif;
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
} */

@font-face {
 font-family: "Yeseva One";
 src: url("../asset/fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../asset/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../asset/fonts/Montserrat-Regular.ttf");
}


.warning{
  position: fixed;
  height: 5%;
  background-color: #c368a6;
  text-align: center;
  z-index: 10;
}
#gradient{
  background: linear-gradient(330deg, #52e0e0 0%, #9952e0 50%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.cr{
  font-size: 0.6rem;
  text-align: center;
}

.contact{
  margin-top:5%;
  margin-bottom: 5%;
}

.contactText{
  width: 30vw;
  margin-left:5vw;
  font-size: 1.5rem;
}

.contactText a:hover
{
  font-family: "Montserrat SemiBold";
}

.progress-bar {
    margin:4px;
    margin-left: 5vw;
    width: 350px;
    height: 14px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before{
    content: '';
    display: block;
    position: absolute;

    height: 14px;
    background: #9952e0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.languagesName{
  width: 15%;
}
.languagesC:before{
  width: 300px;
}

.languagesJava:before{
  width: 300px;
}

.languagesOpenGL:before{
  width: 250px;
}

.languagesPython:before{
  width: 200px;
}

.languagesWeb:before{
  width: 300px;
}

.languagesBdd:before{
  width: 200px;
}

.softwaresElement{
  width: 9vh;
  height: 9vh;
  margin: 3%;
  background-color: white;
}
.softwaresElement img{
  width:9vh;
}
#projectPage{
  margin-top:15%;
  margin-bottom: 15%;
}
#projectBtn{
  display: flex;
  align-items: center;
}
#projectBtn img{
  width:50%;
}
#projectPageOne{
  display: block;
}

#projectPageTwo{
  display: none;
}

#projectPageTwo .projectContainer .project{
  background-color: red;
}

.project{
  width: 5vw;
  height: 20vh;
  background-color: white;

  margin: 3%;

}

.about{
  position: relative;
}
.about p{
  width:70%;
}

.aboutBtn{
  text-align: center;

  background-image:linear-gradient(to right, #c368a6 , #2e488b);
  box-sizing: border-box;

  width:250px;
  height:80px;
	display: block;
  position: relative;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0.5rem;

	font: 1.125rem "Montserrat SemiBold", sans-serif;
	letter-spacing: 1px;
  color: white;
  text-decoration: none;
	text-transform: uppercase;

	z-index: 9;
}

.aboutBtn:hover span{
  background: transparent;
}

.aboutBtn span{
  align-items: center;
  background: black;

  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
}

#education{
  font-family: "Montserrat Regular";
  font-size: 1.5rem;
  text-transform: uppercase;
}

.aTitle{
  font-family: "Montserrat SemiBold";
  font-size: 1.5rem;
  text-transform: uppercase;

  margin-bottom: 1vh;
}
.aDate{
  font-family: "Montserrat Regular";
  font-size: 1rem;
  text-transform: uppercase;
}

.aInfo{
  font-family: "Montserrat Regular";
  font-size: 0.8rem;
}

.aboutEducation{
  margin-bottom: 5vh;
}
#modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index:4;
    width:40%;
    min-height: 100%;

    overflow: hidden;
    padding:0;
}

#openVolet{
  background-image:  linear-gradient(to right, #c368a6 , #2e488b);
  display:none;
  width : 100%;
}


#btnVolet{
  font-family: "Montserrat SemiBold";
  font-size: 4rem;
  margin-bottom: 25%;
}

#btnVolet:hover{
  text-decoration: line-through;
}

.voletBtn{
  margin-top: 10%;
}

.menuImg{
  margin-top: 50%;
}

#menuButton{
  display: block;
}
#closeButton{
  font-family:  "Montserrat SemiBold";
  font-size: 4rem;
  margin-top:  0rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
  text-align: right;
  cursor: pointer;

}
a{
  text-decoration: none;
  color:white;
}

a:hover{
  text-decoration: none;
  color:white;
}

body{
  background-color: black;
  color:white;
  height: 100%;
}


p{
  font-family: "Montserrat Regular";
  margin-bottom: 0em;
}

h1{
  font-family: "Montserrat SemiBold";
  font-size: 12rem;
  text-transform: uppercase;
}

h2{
  font-family: "Montserrat SemiBold";
  font-size: 8rem;
  text-transform: uppercase;
}
h3{
  font-family: "Montserrat SemiBold";
  font-size: 5rem;
  text-transform: uppercase;
}

.skillsTitle{
  font-family: "Montserrat SemiBold";
  font-size: 1rem;
  text-transform: uppercase;
}



h4{
  font-family: "Yeseva One";
  font-size: 1.5em;
  text-align: center;
}

.header_content{
  margin-right: 0;
}

.content-container{
  height: 80%;
}

#renderCanvas{
  width: 70%;
  display: block;
  padding: auto;
}

#header-title
{
  text-align: center;
}
#button{
  font-family: "Montserrat SemiBold";

  font-size: 1.3rem;

  background-color: black;
  border-radius: 5%;
}

.border-button{
  width: 100%;
  height: 100%;

  position: relative;
  background-image: linear-gradient(to right, #c368a6 , #2e488b);
  border-radius: 5%;
}

#button-container{
  margin-top: 10%;
}

@media (min-width: 970px) and (max-width: 1300px) {
  h3 {
    width: 100%;
  	font-size: 4rem;
  	}
  .contactText{
    font-size: 1rem;
  }
  .contact{
    margin-top:2%;
    margin-bottom: 2%;
  }
}

@media (min-width: 850px) and (max-width: 970px) {
  h1 {
  	font-size: 10rem;
  	}
  h3 {
    width: 100%;
    font-size: 4rem;
    }
  .contactText{
    font-size: 1rem;
  }
  .contact{
    margin-top:2%;
    margin-bottom: 2%;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  h1 {
  	font-size: 8rem;
  	}

  #renderCanvas{
    width: 70%;
    display: block;
    padding: auto;
    margin-top: 10%;
  }

  #modal {
      width:100%;
  }

  h3 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    }
  .contactText{
    font-size: 1rem;
  }
  .contact{
    margin-top:5%;
    margin-bottom: 5%;
    text-align: center;
  }

}

@media (min-width: 0px) and (max-width: 500px) {
  h1 {
  	font-size: 5rem;
  	}
  p{
    font-size: 0.8rem;
}

  #renderCanvas{
    width: 70%;
    display: block;
    padding: auto;
    margin-top: 20%;
  }

  #modal {
      width:100%;
  }

  h3 {
    font-size: 3rem;
    }
  .contactText{
    width: 100%;
    font-size: 0.9rem;
  }
  .contact{
    margin-top:10%;
    margin-bottom: 10%;
    text-align: center;
  }

}
